video{
    object-fit: cover;
     width: 100%;
     height: 100%;
     position: absolute;
     z-index: -1;
}

.banner{
    /* background: url('../../../public/images/img-home.jpg') center center/cover no-repeat; */
   height: 100vh;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   
   object-fit: contain;
}

h1{
   font-weight: bold;
   color: whitesmoke;
   margin-top: 20%;
}